{% extends "plantilla.html" %}

{%block body%}
<h1>Editar de album</h1>

    <form action="/ActualizarAlbum/{{album.0}}" method="post">



        <label>Titulo:</label>
        <input type="text" name="txtTitulo" value="{{album.1}}">

        <label>Artista</label>
        <input type="text" name="txtArtista"value="{{album.2}}">


        <label>Año</label>
        <input type="number" name="txtAnio"value="{{album.3}}">

        <button type="submit">Editar Album</button>

    </form>

{%endblock%}