<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Albums</title>
</head>
<body>
    <form action="/guardaralbum" method="post">
        <label>Titulo: </label>
        <input type="text" name="txtTitulo">
        <br>
        <label>Artista: </label>
        <input type="text" name="txtArtista">
        <br>
        <label>Año: </label>
        <input type="number" name="txtAnio">
        <br>
        <button type="submit">Guardar Album</button>
    </form>
</body>
</html>